{% extends "base.html" %}
{% load static %}
{% block page_content %}
<style>
body::after {
  content: "";
  background: url(https://upload.wikimedia.org/wikipedia/commons/4/4a/P1040089_-_Refugi_de_Saboredo.JPG);
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
p {
margin-left:600px;
margin-right:auto;
position: relative;
top: 10px;
  max-width: 750px;
  min-width: 130px;
}

</style>

    {% if user.is_authenticated %}
</head>
<nav class="navbar navbar-light bg-light">
    {% with url="img/icon_ref.png" %}
    <a href="{% url 'welcome' %}">
      <img src= "{% static url %}" class="mr-3 picture_size" alt="logo" style="width: 80px;height: 5ppx"  href="{% url 'welcome' %}">
    </a>
    {% endwith %}
    <a href="{% url 'welcome' %}" style="text-decoration:none;">RefugisCAT</a><i>&nbsp;&nbsp;Descobreix els refugis de Catalunya!</i>
        <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-primary ">Surt de la sessió</button></a>
</nav>
{% else %}
    <nav class="navbar navbar-light bg-light">
    {% with url="img/icon_ref.png" %}
    <a href="{% url 'welcome' %}">
      <img src= "{% static url %}" class="mr-3 picture_size" alt="logo" style="width: 80px;height: 5ppx"  href="{% url 'welcome' %}">
    </a>
    {% endwith %}
    <a href="{% url 'welcome' %}" style="text-decoration:none;">RefugisCAT</a><i>&nbsp;&nbsp;Descobreix els refugis de Catalunya!</i>
        <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-primary ">Inicia sessió</button></a>
</nav>
{% endif %}


<h1 style="text-align:center;">Editar Ressenya</h1>
<body>
    {% for refugi in refugis %}
        <form action="/refugis/{{refugi.id}}/editar_ressenya" method="POST">{% csrf_token %}
            <p>Autor: <input type="text" name="autor"></p>
            <p>Títol: <input type="text" name="titol"></p>
            <p>Descripció: </p>
            <p><textarea name="descripcio" id="" cols="30" rows="8"></textarea></p>
            <p>Valoració: 
              <datalist id="valoracions">
                <option value="1" label="1">
                <option value="2" label="2">
                <option value="3" label="3">
                <option value="4" label="4">
                <option value="5" label="5">
                <option value="6" label="6">
                <option value="7" label="7">
                <option value="8" label="8">
                <option value="9" label="9">
                <option value="10" label="10">          
              </datalist>
              <input name="valoracio" list="valoracions">

            <div class="text-center">
              <br>
            <button type="submit" class="btn btn-success">Enviar</button>
            </div>
        </form>
        <div class="text-center">
          <br>
        <a href="/refugis/{{refugi.id}}"><button type="button" class="btn btn-primary active">Torna a la descripció del refugi</button></a>
        </div>
    {% endfor %}

</body>
{% endblock %}