<header>
    <h1>Inici Sessió</h1>
</header>
    <style>          
        body::after {
          content: "";
          background: url(https://upload.wikimedia.org/wikipedia/commons/4/4a/P1040089_-_Refugi_de_Saboredo.JPG);
          opacity: 0.4;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: -1;   
        }           
    </style>

<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Login</button>
</form>
    
<form method="get">
    <input type="submit" value="Entra sense registrar-se" name="Entra sense registrar-se"/>
</form>

 			
<hr />
<form action="/register">
    <input type="submit" value="Registrar-se" />




