<h1>RefugisCAT</h1>
<div class="col-md-12 search">
    <h2 class="widget-title">Cercador</h2>
    <form method="get">
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input type="text" class="form-control" placeholder="Buscar..."name="buscar"value="buscar">
                <span class="input group list">
                    <i class="icon icon-search">
                        <button type="submit" class="boton btn-success">Buscar</button>
                    </i>
                </span>
            </div>
        </div>
    </form>
</div>


<hr />
<a href="/logout">Surt</a>